@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  overflow: hidden;
  background: linear-gradient(5deg, white, white, white, white);
  height: 130vh;
}
.hero::before {
  content: "";
  height: 130vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, black 1px, transparent 1px 45px) 50% 50% / 45px 45px,
    linear-gradient(black 1px, transparent 1px 45px) 50% 50% / 45px 45px;
  -webkit-mask: linear-gradient(20deg, transparent, transparent 53%, white);
  mask: linear-gradient(25deg, transparent, transparent 53%, white);
}
.gradient-cream {
  background: linear-gradient(180deg, #fffdd1, #848370, black);
}
.gradient-blue {
  background: linear-gradient(180deg, black, black);
}

/*  */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
